.admin {
    @extend .next-image;

    .container {
        background-color: $bg-menu;
    }

    // .avatar {
    //     width: 176px !important;
    //     height: 176px !important;
    //     object-fit: cover;
    //     border: 4px solid $white !important  {
    //         radius: 100%;
    //     }
    //     background: $white;

    //     @media (min-width: 768px) and (max-width: 992px) {
    //         width: 19vw !important;
    //         height: 19vw !important;
    //     }
    // }

    &-content {
        color: $white;
        h2 {
            font: {
                size: 18px;
            }
        }
        p {
            font-size: 13px;
        }

        .icons {
            width: 44px;
        }

        @media (min-width: 768px) {
            .likes {
                margin-top: -55px;
            }
        }
    }

    &-form {
        .form {
            &-label {
                font: {
                    size: 13px;
                    weight: 700;
                }
            }

            &-control {
                background-color: #f7f7f7;
                border: none {
                    radius: 0;
                }
                font-size: 15px;
                padding: {
                    top: 23px;
                    bottom: 23px;
                    left: 20px;
                }

                &:focus {
                    outline: none;
                    box-shadow: none;
                }
            }
        }

        .btn-light {
            font-size: 13px;
            background-color: #f7f7f7;
            padding: 10px;
        }

        p {
            font-size: 12px;
        }
    }

    @media (max-width: 992px) {
        background-color: $bg-menu;
    }
}
