.categorys {
    header {
        box-shadow: none;
        background: none;
    }
    &-content {
        &-tabs {
            width: 33.33333333333%;
            color: $black !important;
            font-size: 12px !important;

            &-content {
                div {
                    &:nth-child(1) {
                        padding: 0;
                    }
                }

                &-card {
                    background-color: $bg-card;
                    margin-top: 3rem;

                    &:nth-child(1) {
                        margin-top: 2rem;
                    }

                    &:nth-of-type(odd) {
                        border: {
                            top: 4px solid $green !important;
                        }
                    }
                    border: {
                        top: 4px solid $black !important;
                        radius: 0;
                    }

                    .card-body {
                        .nav {
                            &:nth-child(1) {
                                .nav-link {
                                    font-size: 11px;
                                    color: $green;
                                }
                            }

                            .nav-link {
                                font-size: 13px;
                                color: $black;
                            }
                        }
                    }

                    &-content {
                        a {
                            font-size: 14px;
                            color: $black;
                            position: relative;

                            &:hover {
                                color: $green;
                            }
                        }
                    }
                }
            }
        }

        .MuiTab-textColorPrimary.Mui-selected {
            color: $black;
            font-weight: 800;
            outline: none;

            &:focus {
                outline: none;
            }
        }
    }

    .MuiTabs-indicator {
        background-color: $green !important;
    }
}
