.login {
    .posts-card {
        max-height: 800px;
        height: 750px;
        .h5 {
            font-size: 43px;
        }

        .card-text {
            font-size: 14px;
        }
    }

    &-forms {
        width: 75%;

        h1 {
            font-size: 28px;
        }

        p,
        .label-checkbox span {
            font-size: 12px;
        }

        .MuiFormLabel-root.Mui-focused {
            color: rgba(0, 0, 0, 0.54);
        }

        .MuiInputBase-root,
        .MuiFormControl-root {
            background-color: #f4f4f4;
            text-align: center;

            .MuiIconButton-root {
                margin-top: -14px;
            }
        }

        .label {
            z-index: 1;
            margin-top: -8px;
            margin-left: 11px;
        }

        .MuiFilledInput-underline,
        .MuiInput-underline {
            &:before {
                border-bottom: 3px solid #cecece !important;
            }
            &:after {
                border-bottom: 3px solid $bg-menu !important;
            }
        }

        .MuiButton-contained {
            background-color: $bg-menu;
            color: $white;
            font: {
                size: 11px;
                weight: 800;
            }
            padding: 15px !important;
            border-radius: 0;
        }

        .reset-pass {
            color: $black;
            text-transform: none;
            font: {
                size: 11px;
                weight: 500;
            }
        }

        a:hover {
            text-decoration: none;
        }

        input[type="checkbox"] {
            display: none;
        }

        @media (max-width: 992px) {
            width: 90%;
            padding: {
                top: 7rem;
                bottom: 6rem;
            }
        }

        &-register {
            // padding-bottom: rem;
        }
    }
}
