*,
html,
body {
    font-family: "Montserrat", sans-serif !important;
}

$white: #fff;
$black: #373643;
$bg-card: #f7f7f7;
$bg-menu: #1fc59e;

.text-green {
    color: #1fc59e !important;
}

.avatar {
    font-size: 12px;
}

.likes {
    .nav-link {
        font-size: 12px;
        color: $black;
    }
}

.next-image {
    div {
        position: inherit !important;

        .avatar {
            width: 176px !important;
            height: 176px !important;
            object-fit: cover;
            border: 4px solid $white !important   {
                radius: 100%;
            }
            background: $white;

            @media (min-width: 768px) and (max-width: 992px) {
                width: 19vw !important;
                height: 19vw !important;
            }
        }

        img {
            width: inherit !important;
            height: inherit !important;
            position: inherit !important;
        }
    }
}
